*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  border: 0%;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 36.0rem; 
  background: #c5c5c580;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

  background: #d3d3d342;
}

.page {
  width: 108.0rem;
  min-height: 100vh;
  margin: 0 auto 9.0rem;

}

.page header {
  font-size: 2.4rem;
  line-height: 4.8rem;
  margin: 10.0rem auto ;
  
  text-align: center;
}

.page main {
  background: #FFFFFF;
  padding: 6.4rem;
  border-radius: 8px 8px 0 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

main h2, main dl .term dt {
  font-size: 2.4rem;
  line-height: 32px;
  text-align: center;

  border-bottom: 1px #c5c5c580 solid;
  padding-bottom: 8px;
}


main .term a {
  color: #177bb6fa;
  font-size: 2.4rem;
  line-height: 32px;
  text-align: center;
}

main .term dd {
  font-size: 14px;
  line-height: 28px;
}


main .term dt a:hover {
  font-weight: bold;

}

footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  
  background: #c5c5c580;
  padding: 6.4rem;
  border-radius: 0 0 8px 8px;
  margin-bottom: ;
}

footer ul {
  display: flex;
  gap: 2.0rem;
}

  footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul li a{
  color: #FFFFFF;
  font-size: 2.4rem;
  line-height: 32px;
  
  width: 12.0rem;
  height: 17.0rem;
  text-align: center;
}

footer ul li a:hover {
  outline: 2px #FFFFFF solid;
}

footer ul #charmander a {

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='100.000000pt' height='100.000000pt' viewBox='0 0 100.000000 100.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,100.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M525 856 c-43 -19 -83 -70 -90 -114 -3 -20 -8 -48 -11 -62 -3 -14 -8%0A-38 -11 -53 -4 -21 1 -34 17 -52 20 -22 21 -23 3 -27 -18 -4 -64 4 -95 17 -12%0A5 -18 3 -18 -5 0 -7 -7 -18 -15 -24 -23 -17 16 -74 65 -94 37 -16 40 -20 40%0A-57 0 -60 -8 -67 -55 -46 -56 25 -70 46 -71 105 0 28 -12 80 -25 116 -23 60%0A-27 65 -54 65 -28 0 -30 -3 -33 -39 -2 -22 -10 -49 -18 -60 -25 -36 -18 -85%0A17 -117 17 -16 42 -52 56 -80 29 -57 87 -105 139 -115 32 -6 33 -7 19 -27 -31%0A-45 -21 -57 50 -57 50 0 66 4 74 17 14 25 139 26 152 1 8 -14 23 -18 74 -18%0A56 0 65 3 65 18 0 10 -6 27 -14 37 -10 14 -11 26 -4 47 7 19 6 38 -2 60 -6 18%0A-15 55 -19 81 l-8 48 39 16 c39 16 78 55 78 79 0 25 -32 54 -49 44 -17 -8 -51%0A-13 -89 -11 -23 1 -23 1 4 25 27 23 28 24 16 77 -6 30 -14 71 -17 91 -14 94%0A-122 152 -210 114z m126 -29 c41 -27 69 -79 69 -130 0 -20 6 -46 12 -57 51%0A-82 -217 -127 -288 -49 -15 16 -15 25 -6 57 6 20 13 54 16 76 6 48 28 81 69%0A106 42 26 86 25 128 -3z m-426 -244 c4 -16 15 -47 26 -71 10 -23 18 -53 18%0A-65 -1 -20 -2 -20 -8 3 -10 39 -45 120 -53 120 -3 0 -9 -8 -11 -17 -3 -10 -5%0A-1 -6 20 -1 45 25 53 34 10z m214 -57 c41 11 232 13 277 2 27 -6 54 -6 77 0%0A28 8 39 7 47 -4 16 -18 -28 -62 -70 -70 -17 -4 -33 -10 -35 -14 -3 -5 0 -37 6%0A-72 17 -97 18 -200 3 -194 -8 3 -20 -1 -28 -9 -19 -20 -29 -19 -43 4 -10 16%0A-9 22 3 32 35 29 60 128 37 142 -5 3 -8 -17 -8 -44 0 -41 -5 -53 -31 -80 -60%0A-60 -164 -46 -199 28 -29 60 1 180 56 231 29 28 80 29 104 2 22 -24 43 -27 24%0A-3 -20 23 -66 41 -94 35 -35 -6 -73 -52 -95 -115 -27 -77 -26 -126 5 -172 33%0A-48 20 -103 -14 -61 -7 8 -21 12 -33 9 -17 -5 -19 -2 -14 14 4 11 2 32 -4 47%0A-7 20 -6 36 4 60 8 18 15 59 17 90 l4 58 -40 13 c-80 28 -97 95 -18 73 19 -5%0A47 -6 62 -2z m-212 -21 c17 -27 16 -35 -2 -29 -11 4 -19 -4 -27 -26 -10 -31%0A-12 -32 -25 -15 -15 22 -17 49 -3 75 12 23 42 21 57 -5z m69 -157 c11 -10 36%0A-24 55 -32 32 -13 35 -18 31 -50 -4 -33 -6 -34 -29 -25 -69 26 -133 115 -133%0A183 0 30 0 30 28 -15 16 -24 38 -52 48 -61z m121 -194 c-3 -3 -12 -4 -19 -1%0A-8 3 -5 6 6 6 11 1 17 -2 13 -5z m40 0 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11%0A1 17 -2 13 -5z'/%3E%3Cpath d='M470 725 c-16 -47 -7 -65 29 -65 39 0 44 11 31 60 -14 53 -43 55 -60%0A5z m45 6 c3 -5 1 -12 -5 -16 -5 -3 -10 1 -10 9 0 18 6 21 15 7z'/%3E%3Cpath d='M639 733 c-17 -45 -8 -68 26 -68 27 0 30 4 33 33 6 59 -40 86 -59 35z%0Am18 -15 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z'/%3E%3Cpath d='M558 633 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z'/%3E%3Cpath d='M454 612 c4 -7 93 -23 131 -23 38 0 127 16 131 23 4 6 -10 6 -33 2%0A-49 -10 -147 -10 -196 0 -23 4 -37 4 -33 -2z'/%3E%3Cpath d='M681 420 c14 -31 19 -36 19 -24 0 6 -7 19 -16 30 -14 18 -14 18 -3%0A-6z'/%3E%3Cpath d='M176 494 c-3 -9 -2 -23 4 -32 7 -14 9 -10 10 16 0 35 -5 41 -14 16z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

footer ul #bulbasaur {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='100.000000pt' height='100.000000pt' viewBox='0 0 100.000000 100.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,100.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M426 833 c-9 -13 -48 -39 -85 -57 -137 -69 -174 -160 -105 -253 23%0A-30 23 -34 13 -120 -13 -100 -7 -177 18 -228 17 -35 17 -35 85 -35 49 0 68 4%0A68 13 0 18 148 17 155 0 3 -9 27 -13 74 -13 l69 0 15 39 c24 59 29 127 18 225%0A-10 85 -10 89 13 120 69 90 31 183 -105 252 -37 18 -75 44 -85 56 -16 19 -29%0A23 -75 23 -46 1 -58 -3 -73 -22z m65 -31 l1 -27 7 25 c11 39 37 30 106 -36 64%0A-63 85 -98 67 -116 -12 -12 -72 -13 -129 -3 -39 7 -43 11 -43 36 0 15 -5 31%0A-11 35 -8 5 -10 -3 -5 -27 l6 -34 -52 -12 c-124 -28 -143 15 -48 108 33 32 60%0A62 60 67 0 4 9 8 20 9 15 1 20 -5 21 -25z m-125 -62 c-25 -27 -46 -58 -46 -70%0A0 -13 -7 -20 -19 -20 -32 0 -43 -24 -35 -82 7 -48 6 -52 -9 -40 -47 39 -42%0A125 11 175 22 21 125 84 141 86 2 1 -17 -21 -43 -49z m291 14 c96 -51 135%0A-112 113 -178 -6 -19 -18 -40 -26 -47 -14 -11 -15 -6 -12 47 3 53 1 60 -19 69%0A-13 5 -23 18 -23 29 0 11 -20 39 -45 63 -25 24 -43 43 -41 43 3 0 27 -11 53%0A-26z m-307 -134 c24 -7 52 -6 92 2 45 9 71 9 115 0 42 -9 67 -9 100 0 56 14%0A66 5 55 -53 -6 -30 -5 -56 4 -79 29 -80 6 -152 -58 -187 -42 -22 -214 -30%0A-276 -14 -64 18 -103 57 -109 111 -3 26 1 62 9 85 9 27 11 54 6 84 -11 64 -4%0A70 62 51z m-5 -329 c37 -17 45 -27 51 -56 3 -20 4 -39 0 -42 -3 -4 -31 -7 -61%0A-8 l-55 -2 -10 36 c-5 20 -10 63 -10 96 l0 60 21 -32 c11 -17 40 -41 64 -52z%0Am385 -57 l-11 -52 -55 3 c-31 2 -58 6 -61 9 -3 3 -2 21 1 41 6 29 14 39 40 50%0A19 8 47 28 62 45 l29 30 3 -37 c2 -21 -1 -61 -8 -89z m-137 4 c-3 -18 -10 -37%0A-15 -43 -5 -5 -40 -10 -78 -10 -76 0 -85 5 -95 53 l-7 32 101 0 101 0 -7 -32z%0Am-273 -68 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10 -4%0A10 -10z m40 0 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10%0A-4 10 -10z m40 0 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0%0A10 -4 10 -10z m225 0 c3 -5 -1 -10 -10 -10 -9 0 -13 5 -10 10 3 6 8 10 10 10%0A2 0 7 -4 10 -10z m40 0 c3 -5 -1 -10 -10 -10 -9 0 -13 5 -10 10 3 6 8 10 10%0A10 2 0 7 -4 10 -10z m35 0 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10 11%0A10 2 0 4 -4 4 -10z'/%3E%3Cpath d='M514 557 c-18 -16 -25 -29 -21 -40 9 -25 33 -21 57 10 36 46 10 69%0A-36 30z m34 -17 c-16 -25 -35 -33 -44 -18 -8 13 34 51 47 42 5 -2 3 -14 -3%0A-24z'/%3E%3Cpath d='M440 495 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0%0A-15 -7 -15 -15z'/%3E%3Cpath d='M326 473 c-3 -3 -6 -13 -6 -22 0 -14 2 -14 10 -1 13 21 17 10 10 -30%0A-7 -35 -7 -35 -18 -10 -6 14 -11 18 -11 10 -1 -21 11 -38 29 -40 41 -6 90 1%0A90 13 0 26 -89 94 -104 80z'/%3E%3Cpath d='M524 465 c-4 -9 -4 -18 -2 -21 9 -8 39 8 35 19 -6 18 -27 20 -33 2z'/%3E%3Cpath d='M645 468 c-31 -17 -75 -60 -75 -75 0 -12 49 -19 90 -13 18 2 30 19%0A29 40 0 8 -5 4 -11 -10 -11 -25 -11 -25 -18 10 -7 40 -3 51 10 30 8 -13 10%0A-12 10 2 0 23 -12 28 -35 16z'/%3E%3Cpath d='M380 330 c36 -5 77 -13 93 -19 19 -7 35 -7 55 0 15 6 56 14 92 19 59%0A7 61 7 19 9 -25 0 -67 -5 -92 -13 -40 -12 -54 -12 -94 0 -25 8 -67 13 -92 13%0A-42 -2 -40 -2 19 -9z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

footer ul #squirtle {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='100.000000pt' height='100.000000pt' viewBox='0 0 100.000000 100.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,100.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M382 879 c-47 -14 -109 -79 -122 -131 -7 -23 -9 -61 -5 -83 12 -75%0A11 -80 -13 -83 -12 -2 -36 3 -53 12 -27 14 -32 13 -48 -3 -35 -35 -34 -51 10%0A-90 37 -33 41 -41 44 -92 2 -30 10 -72 19 -93 19 -46 12 -110 -16 -138 -10%0A-10 -18 -27 -18 -38 0 -18 7 -20 73 -20 74 0 97 9 97 39 0 13 15 16 90 16 59%0A0 90 -4 90 -11 0 -6 8 -18 18 -27 22 -20 146 -24 158 -6 3 6 -3 23 -13 38 -41%0A54 -38 65 20 89 29 12 68 22 87 22 84 1 121 100 61 160 -38 39 -75 47 -128 28%0A-24 -9 -43 -13 -43 -11 0 8 59 60 74 66 13 5 13 10 0 35 -23 47 -37 54 -70 37%0A-36 -19 -58 -19 -73 -1 -9 11 -9 20 -2 35 14 25 14 102 0 138 -15 40 -57 82%0A-104 104 -44 20 -82 22 -133 8z m107 -19 c39 -11 86 -51 107 -92 8 -15 14 -49%0A14 -76 0 -85 -57 -133 -159 -134 -75 -1 -126 17 -151 53 -58 80 -21 197 74%0A240 47 21 67 23 115 9z m-174 -280 c4 -6 1 -17 -5 -25 -9 -11 -17 -12 -32 -4%0A-15 8 -17 13 -7 25 14 16 35 18 44 4z m295 -5 c10 -12 9 -16 -5 -21 -19 -8%0A-40 9 -31 25 10 15 21 14 36 -4z m-373 -19 c28 -9 54 -24 57 -32 9 -24 -22%0A-73 -45 -74 -4 0 -30 21 -58 46 -44 39 -49 48 -40 66 6 11 16 18 22 15 7 -2%0A35 -12 64 -21z m503 -7 c0 -10 -22 -36 -51 -59 -47 -37 -53 -39 -73 -27 -13 9%0A-21 25 -21 43 0 26 6 31 60 50 65 23 85 22 85 -7z m-285 -1 c28 2 63 4 79 5%0A18 1 33 -4 40 -15 15 -24 0 -36 -55 -47 -34 -7 -37 -9 -14 -9 17 0 39 3 50 7%0A14 6 24 2 38 -16 18 -23 18 -24 -2 -57 -30 -47 -42 -55 -95 -62 l-46 -7 0 67%0Ac0 36 -3 66 -7 66 -5 0 -6 -29 -5 -65 l4 -65 -34 -2 -33 -1 33 -4 c31 -4 32%0A-6 32 -48 0 -42 -2 -46 -40 -65 -50 -26 -50 -26 -50 9 0 20 -9 36 -26 50 -22%0A17 -23 22 -12 40 7 12 24 22 38 22 22 2 22 2 3 6 -11 2 -33 22 -48 45 -24 36%0A-26 43 -14 65 12 22 17 24 68 19 l56 -5 -51 10 c-37 7 -53 16 -57 29 -8 30 13%0A42 58 33 22 -4 63 -7 90 -5z m200 -215 c-9 -24 -21 -41 -25 -38 -5 3 -5 17 0%0A31 6 14 10 44 10 68 0 23 6 48 13 55 20 20 21 -65 2 -116z m186 98 c65 -65 9%0A-157 -75 -125 -26 10 -40 43 -25 60 19 23 49 18 49 -8 0 -18 2 -20 9 -9 23 37%0A-28 62 -61 29 -13 -13 -18 -27 -13 -41 13 -44 10 -51 -25 -63 -19 -7 -38 -10%0A-42 -8 -4 3 2 23 12 47 11 23 20 57 20 75 0 26 7 36 33 52 46 28 83 26 118 -9z%0Am-592 -11 l4 -25 6 24 c6 23 7 22 34 -17 28 -39 28 -41 11 -67 -21 -32 -37%0A-28 -45 11 -6 24 -6 22 -4 -8 6 -79 -32 -19 -42 65 -5 44 -4 49 13 45 11 -2%0A21 -14 23 -28z m381 -22 c0 -53 -9 -88 -23 -88 -12 0 -36 31 -37 48 0 15 42%0A82 53 82 4 0 7 -19 7 -42z m-56 -70 c15 -21 15 -23 -8 -35 -28 -14 -39 -38%0A-31 -64 7 -22 -1 -23 -35 -4 -14 8 -29 14 -35 14 -5 0 6 -8 25 -19 36 -19 34%0A-22 -20 -34 -29 -6 -100 3 -100 14 0 4 18 15 40 25 39 17 40 20 40 66 0 46 1%0A48 33 52 67 8 76 7 91 -15z m-250 -51 c17 -12 18 -21 10 -73 l-9 -59 -62 -3%0Ac-64 -3 -81 8 -43 28 11 6 20 21 20 34 0 13 5 37 11 55 12 34 41 41 73 18z%0Am304 -4 c5 -10 12 -34 16 -54 4 -21 13 -42 21 -49 27 -22 16 -30 -39 -30 -62%0A0 -71 8 -79 70 -4 33 -2 49 10 62 21 23 60 23 71 1z'/%3E%3Cpath d='M322 778 c-15 -19 -23 -71 -13 -86 4 -8 21 -12 37 -10 23 2 30 8 32%0A31 3 28 -20 77 -37 77 -5 0 -13 -6 -19 -12z m38 -28 c0 -5 -4 -10 -10 -10 -5%0A0 -10 5 -10 10 0 6 5 10 10 10 6 0 10 -4 10 -10z'/%3E%3Cpath d='M521 776 c-7 -8 -11 -32 -9 -53 3 -35 5 -38 33 -38 27 0 30 3 33 36%0A2 24 -3 42 -13 53 -20 20 -29 20 -44 2z m16 -28 c-3 -8 -6 -5 -6 6 -1 11 2 17%0A5 13 3 -3 4 -12 1 -19z'/%3E%3Cpath d='M324 635 c35 -26 246 -22 246 5 0 6 -11 5 -27 -1 -37 -14 -176 -14%0A-202 0 -29 16 -39 13 -17 -4z'/%3E%3C/g%3E%3C/svg%3E%0A");  
  background-repeat: no-repeat;
  background-position: center;
}